
html{
  --color-accent:  rgb(161, 213, 255); 
  accent-color: var(--color-accent);
  --background-color : oklch(92% .1 304);
  background-color: #efedf5;
}

body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
    max-width:100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    padding:auto; 
    overflow-x: hidden;
  }

.current{
  margin-bottom:.4em;
}

.my_nav { 
  display:flex;
  border-bottom-width: .2em;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
}

.my_link{
  flex:1; 
  text-decoration: none;
  color:inherit; 
  text-align:center;
  padding:.5em;
}

.my_link.current_page{
  border-bottom-width:.4em; 
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
  padding-bottom:.1em;
}

.my_pic{
  border-radius: 10%; 
  width: 50%;
  height: auto;
}

a.my_link:hover{ 
  border-bottom-width:.4em; 
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  padding-bottom:.1em;
}

.contact_form{
  display:grid;
  grid-template-columns: auto 1fr;
}
label{
  display:grid; 
  grid-template-columns: subgrid;
  grid-column:1/-1;
  gap:1em; 
}

.sit_button{
  display:grid; 
  grid-template-columns: subgrid;
  gap:1em; 
}
 
image{
  max-width: 100%;

}

.projects{
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(15em,1fr));
  gap: 2em;
  align-items: start;
}

.projects img{
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(15em,1fr));
  gap: 2em;
  align-items: start;
  height: 100%;
  width: 100%; 
}

.projects video{
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(15em,1fr));
  gap: 2em;
  align-items: start;
  height: 100%;
  width: 100%; 
}

.course{
  background-color: rgb(161, 213, 255);
  width:100%;
  height: 100%; 
  font-size:100%;
  text-align: center;
}
.resume_thing{
  background-color: rgb(161, 213, 255);
  width:100%;
  height: 100%; 
  font-size:100%;
  text-align: left;
  padding-left: 1em;
}



.course_break{
  background-color: rgb(72, 255, 194);
  width:100%;
  height: 150%; 
  font-size:100%;
  text-align: center;
}



article .projects{
  grid-template-rows: subgrid;
  grid-row: span 3;
  text-wrap:balance;
  line-height: 1.1;
}

.section_header {
  background-color: lightblue;
  font-family: sans-serif;
  padding-left:2ch; 
  width: 60%; 
}

.subject_header{ 
  background-color: lightgrey;
  width:10%; 
  padding-left: 2ch; 
}


.my_resume{
  font-family: sans-serif; 
}

.caption{
  text-align: center;
  font-weight: 300;
}



.links{
  text-align: center;
  width:100%;
  padding-top:3em;
  padding-bottom:1%;
  position:absolute;
  bottom: 0;
  left:0%; 
  right:0%;
}


.scroll{

  position: relative;
  bottom:0;
}


.link{
  flex:1; 
  text-decoration: none;
  color:inherit; 
  text-align:center;
  display:inline;
  padding:.5em;
}

.link:hover{
  background-color:  rgb(161, 213, 255);


}